<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DPS_Diablo3.Properties.Paragon" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DPS_Diablo3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DPS_Diablo3.Properties.Paragon>
            <setting name="nud_para_main" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_as" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cdr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lb_para_lvl" serializeAs="String">
                <value />
            </setting>
        </DPS_Diablo3.Properties.Paragon>
        <DPS_Diablo3.Properties.Settings>
            <setting name="tb_damage1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_damage2" serializeAs="String">
                <value>weapon2</value>
            </setting>
            <setting name="tb_ac1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_ac2" serializeAs="String">
                <value>weapon2</value>
            </setting>
            <setting name="tb_main" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_acincr" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_cc" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_cd" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_off_min" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_off_max" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_am_min" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_am_max" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_r1_min" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_r1_max" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_r2_min" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_r2_max" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_other_min" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_other_max" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_fromskills" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_elem" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_toskill" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_elite" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_skill" serializeAs="String">
                <value />
            </setting>
            <setting name="nud_garg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_dogs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_fet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_elemp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_damp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_speedp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_dmg1_1_a" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_dmg1_2_a" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_dmg2_1_a" serializeAs="String">
                <value>min2</value>
            </setting>
            <setting name="tb_dmg2_2_a" serializeAs="String">
                <value>max2</value>
            </setting>
            <setting name="tb_dmg1_p" serializeAs="String">
                <value>weapon1</value>
            </setting>
            <setting name="tb_dmg2_p" serializeAs="String">
                <value>weapon2</value>
            </setting>
            <setting name="tb_skill1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_skill2" serializeAs="String">
                <value>skill2</value>
            </setting>
            <setting name="tb_skill1_usage" serializeAs="String">
                <value>100%</value>
            </setting>
            <setting name="tb_skill2_usage" serializeAs="String">
                <value>skill2</value>
            </setting>
            <setting name="tb_elem1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_elem2" serializeAs="String">
                <value>skill2</value>
            </setting>
            <setting name="tb_toskill1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_toskill2" serializeAs="String">
                <value>skill2</value>
            </setting>
            <setting name="tb_ac1_p" serializeAs="String">
                <value>weapon1</value>
            </setting>
            <setting name="tb_ac2_p" serializeAs="String">
                <value>weapon2</value>
            </setting>
            <setting name="tb_dmg1_w" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_dmg2_w" serializeAs="String">
                <value />
            </setting>
            <setting name="nud_main_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_damp_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_acp_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cd_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_elem_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cooldown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_cdr10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bt_lang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_main" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_as" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cdr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_para_cd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lb_para_lvl" serializeAs="String">
                <value />
            </setting>
            <setting name="web1_name" serializeAs="String">
                <value />
            </setting>
            <setting name="web2_name" serializeAs="String">
                <value />
            </setting>
            <setting name="web3_name" serializeAs="String">
                <value />
            </setting>
            <setting name="web4_name" serializeAs="String">
                <value />
            </setting>
            <setting name="web5_name" serializeAs="String">
                <value />
            </setting>
            <setting name="web1_www" serializeAs="String">
                <value />
            </setting>
            <setting name="web2_www" serializeAs="String">
                <value />
            </setting>
            <setting name="web3_www" serializeAs="String">
                <value />
            </setting>
            <setting name="web4_www" serializeAs="String">
                <value />
            </setting>
            <setting name="web5_www" serializeAs="String">
                <value />
            </setting>
        </DPS_Diablo3.Properties.Settings>
    </userSettings>
</configuration>